<form class="form-container" [formGroup]="empForm" (submit)="insert()">
  <div class="f-w">
    <h3>Create new Employee</h3>
  </div>
  <mat-form-field class="f-w">
    <mat-label>Employee Name</mat-label>
    <input matInput formControlName="empName">
    <mat-error *ngIf="f.empName.touched && f.empName.errors">Employee name required</mat-error>

  </mat-form-field>

  <mat-form-field class="f-w">
    <mat-label>Address </mat-label>
    <input matInput formControlName="address">
    <mat-error *ngIf="f.address.touched && f.address.errors">Address  required</mat-error>

  </mat-form-field>
  <mat-form-field class="f-w">
    <mat-label>Contact</mat-label>
    <input matInput formControlName="contact">
    <mat-error *ngIf="f.contact.touched && f.contact.errors">Contact required</mat-error>

  </mat-form-field>
  <mat-form-field class="f-w">
    <mat-label>Salary</mat-label>
    <input matInput formControlName="salary">
    <mat-error *ngIf="f.salary.touched && f.salary.errors">Salary required</mat-error>

  </mat-form-field>
  <mat-form-field class="f-w">
    <mat-label>JoinDate date</mat-label>
    <input matInput formControlName="joinDate" [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="f.joinDate.touched && f.joinDate.errors">JoinDate date required</mat-error>

  </mat-form-field>
  <div class="mat-form-field f-w">
    <mat-label style="margin-right:16px">Gender</mat-label>
    <mat-radio-group formControlName="gender" aria-label="Select an option">
      <mat-radio-button value="Male">Male</mat-radio-button>
      <mat-radio-button value="Female">Female</mat-radio-button>
    </mat-radio-group>
    <mat-error *ngIf="f.gender.touched && f.gender.errors">Gender required</mat-error>
  </div>
  <mat-form-field appearance="standard" class="f-w">
    <mat-label>Employee Picture</mat-label>
    <ngx-mat-file-input formControlName="picture" [accept]="'image/*'" (change)="onChange($event)"></ngx-mat-file-input>
    <mat-icon matSuffix>insert_photo</mat-icon>
    <mat-error *ngIf="f.picture.touched && f.picture.errors">Picture required</mat-error>
  </mat-form-field>
  <mat-form-field class="f-w">
    <mat-label>Designation </mat-label>
    <mat-select formControlName="designationId">
      <mat-option value="">None</mat-option>
      <mat-option *ngFor="let z of designations" [value]="z.designationId">
        {{z.designationName}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="f.designationId.touched && f.designationId.errors">Designation name required</mat-error>

  </mat-form-field>


  <div class="f-w">
    <button [disabled]="empForm.invalid" mat-raised-button type="submit" color="accent"><mat-icon>save_alt</mat-icon> Save</button>
  </div>
  <div class="f-w">
    <a mat-flat-button [routerLink]="['/trainee']">Back to list</a>
  </div>
</form>
