<form class="form-container" [formGroup]="desgiForm" (submit)="update()">
  <div class="f-w">
    <h2>Edit Designation</h2>
  </div>
  <mat-form-field class="f-w">
    <mat-label>Designation</mat-label>
    <input matInput formControlName="designationName" required>
    <mat-error *ngIf="f.designationName.touched && f.designationName.errors">Designation Name Required!</mat-error>
  </mat-form-field>
  <div class="f-w">
    <button [disabled]="desgiForm.invalid" mat-raised-button type="submit" color="accent"><mat-icon>save_alt</mat-icon>Update</button>
  </div>
  <div class="f-w">
    <a mat-flat-button [routerLink]="['/empDesignation']">Back To List</a>
  </div>
</form>

