<mat-card class="card-container">
  <mat-card-header>
    <mat-card-title class="card-title">
      Apartments
    </mat-card-title>
    <mat-card-subtitle class="card-subtitle">
      Apartments Details
    </mat-card-subtitle>
    <span class="filter"></span>
    <a [routerLink]="['/add-aprtment']" mat-mini-fab color="primary"><mat-icon>add</mat-icon></a>
  </mat-card-header>
  <mat-card-content>
    <div class="table-container">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="unitNumber">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Unit Number</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.unitNumber}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="bedRooms">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Bed Rooms</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.bedRooms }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="bathRooms">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Bathrooms</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.bathRooms }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="securityDeposit">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Security Deposit</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.securityDeposit }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="occupancyStatus">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Occupancy Status</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.occupancyStatus }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="catagory">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Catagory</mat-header-cell>
          <mat-cell *matCellDef="let element">{{getCatName(element.aptCatagoryId) }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef>...</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <!--<button mat-icon-button [routerLink]="['/edit-animal', element.animalId]"><mat-icon>edit</mat-icon></button>-->
            <!--<button mat-icon-button color="warn" (click)="confirmDelete(element)"><mat-icon>delete</mat-icon></button>-->
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnList"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnList;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>

